<form>
  <div class="form-group">
    <label  class="color-label">Usuario</label>
    <input type="text" class="form-control" aria-describedby="emailHelp"  [(ngModel)]="username" name="username">
  </div>
  <div class="form-group">
    <label  class="color-label">Contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"  [(ngModel)]="password" name="password">
  </div>
  <button type="submit" class="btn btn-primary" (click)="validarContalink()">Siguiente</button>
</form>
