<div [formGroup]="formBancos">
  <div class="row" *ngIf="!type">
    <div class="paymentCont">
      <div class="headingWrap">
      </div>
      <div class="paymentWrap">
        <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
          <label class="btn paymentMethod active">
            <div class="method hsbc"></div>
            <button name="options" (click)="type= 'hsbc'"></button>
          </label>
          <label class="btn paymentMethod">
            <div class="method banregio"></div>
            <button name="options" (click)="type= 'banregio'"></button>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="type== 'hsbc' && !loading">
    <div class="form-group">
      <label for="exampleInputEmail1" class="color-label">Numero Cuenta</label>
      <input type="text" class="form-control" formControlName="numero_cuenta">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="color-label"  name="contrasenia">Contraseña</label>
      <input type="password" class="form-control" formControlName="contrasenia">
    </div>
    <button type="submit" class="btn btn-primary" (click)="validarBanco()">Siguiente</button>
  </div>

  <div class="d-flex align-items-center loading" *ngIf="loading">
  <strong>Cargando...</strong>
  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
</div>
</div>
