<div class="container">
  <div *ngIf="tablaResultados">Hola {{ tablaResultados.actual_status.company_name }} Gracias por utilizar CrediLink , sabemos que no es sencillo emprender y vaya que lograr ${{tablaResultados.actual_status.yearly_sales |  number:'0.1-2'}} en ventas en el último año no es nada sencillo, Muchas felicidades!!</div>

  A continuación te mostramos tus principales indicadores financieros :

<highcharts-chart  *ngIf="operational_info"
  [Highcharts]="Highcharts"
  [options]="operational_info"
  style="width: 100%; height: 400px; display: block;"
></highcharts-chart>
</div>

